---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { Image } from "astro:assets";

import bridge from "../assets/bridge.png";
import competitiveExchangeRate from "../assets/competitive-exchange-rates.png";
import ghana from "../assets/ghana.png";
import iban from "../assets/Iban.png";
import instantConversion from "../assets/instant-conversion.png";
import instantWidthdrawal from "../assets/instant-widthdrawal.png";
import kenya from "../assets/kenya.png";
import lookingAtPhoneMobile from "../assets/looking-at-phone-mobile.jpg";
import lookingAtPhone from "../assets/looking-at-phone.jpg";
import ngn from "../assets/ngn.png";
import paypal from "../assets/paypal.png";
import safehaven from "../assets/safehaven.png";
import sa from "../assets/sa.png";
import securedPayments from "../assets/secured-payments.png";
import uk from "../assets/uk.png";
import usa from "../assets/usa.png";
import virtualUsdCards from "../assets/virtual-usd-cards.jpg";
import westWallet from "../assets/west-wallet.png";
import worldCurrencies from "../assets/world-currencies.png";
import world from "../assets/world.png";
import zeroAcctMaintainance from "../assets/zero-acct-maintainance.png";
---

<Layout
  title="Tidebase"
  content="The landing page of Tidebase. - Enjoy near-instantaneous transaction processing ensuring your payments and transfers are completed swiftly. Our real-time technology provides instant confirmation, available 24/7 for seamless financial management. Trust our robust security measures to safeguard your transactions at all times."
>
  <main>
    <Hero />
    <section>
      <div
        class="flex flex-col lg:flex-row gap-8 px-9 lg:px-40 pb-12 lg:pb-40 pt-[35px] lg:py-[101px]"
      >
        <span
          class="rounded-[20px] shadow-lg pb-9 lg:pb-14 px-9 pt-3 lg:pt-6 flex flex-col gap-3 lg:gap-5"
        >
          <Image
            src={instantWidthdrawal}
            alt="clock"
            class="size-12 lg:size-[52px]"
          />
          <h5 class="text-lg md:text-2xl font-Righteous">Fast transctions</h5>
          <p class="text-sm text-[#626262]">
            Enjoy near-instantaneous transaction processing ensuring your
            payments and transfers are completed swiftly. Our real-time
            technology provides instant confirmation, available 24/7 for
            seamless financial management. Trust our robust security measures to
            safeguard your transactions at all times.
          </p>
        </span>
        <span
          class="rounded-[20px] shadow-lg pb-9 lg:pb-14 px-9 pt-3 lg:pt-6 flex flex-col gap-5"
        >
          <Image
            src={securedPayments}
            alt="Security confirmed"
            class="size-[52px]"
          />
          <h5 class="text-lg md:text-2xl font-Righteous">Secured payments</h5>
          <p class="text-sm text-[#626262]">
            Transact with confidence using, Our robust encryption and
            authentication protocols ensure that your payments are protected
            from unauthorized access. Enjoy peace of mind knowing that your
            financial information is safeguarded at all times. We provide secure
            payments that prioritize your privacy and security. Experience
            seamless and worry-free transactions with us today!
          </p>
        </span>
        <span
          class="rounded-[20px] shadow-lg pb-9 lg:pb-14 px-9 pt-3 lg:pt-6 flex flex-col gap-5"
        >
          <Image src={instantConversion} alt="conversion" class="size-[52px]" />
          <h5 class="text-lg md:text-2xl font-Righteous">Instant conversion</h5>
          <p class="text-sm text-[#626262]">
            Convert currencies instantly, providing real-time rates for accurate
            exchanges. Our intuitive interface allows users to convert
            currencies effortlessly with just a few taps. Enjoy transparency and
            reliability in currency conversions, ensuring you get the best value
            for your transactions. Experience seamless financial flexibility
            with our instant currency conversion feature.
          </p>
        </span>
      </div>
      <div class="flex flex-col md:flex-row-reverse gap-11 lg:px-36">
        <div class="px-6 lg:px-0 lg:grow lg:w-3/5">
          <Image
            src={virtualUsdCards}
            alt="Virtual card"
            class="rounded-2xl lg:rounded-3xl w-full"
          />
        </div>
        <Image
          src={lookingAtPhone}
          alt="a man checking his phone"
          class="rounded-3xl hidden lg:block grow w-2/5"
        />
        <Image
          src={lookingAtPhoneMobile}
          alt="a man checking his phone"
          class="lg:hidden"
        />
      </div>
    </section>
    <div
      class="text-center pt-12 pb-12 lg:mx-36 lg:pt-24 lg:pb-0 lg:px-20 bg-gradient-to-br from-[#0f73e133] to-[#0617ad33] mt-20 px-6 relative overflow-hidden"
    >
      <h3
        class="font-semibold text-2xl mb-3 lg:text-4xl xl:text-[60px] xl:leading-[4.5rem]"
      >
        Receive money globally, get dedicated foreign virtual accounts.
      </h3>
      <p class="font-medium text-sm px-9 lg:text-lg xl:text-4xl xl:px-36">
        Get a dedicated US, UK, Ghana etc. dedicated virtual accounts to receive
        foreign payments.
      </p>
      <div class="h-72 lg:hidden"></div>
      <div class="flex justify-evenly w-full lg:relative lg:px-0 lg:-bottom-28">
        <Image
          src={usa}
          alt="USA's flag"
          class="shrink size-9 md:size-14 xl:size-[80px]"
        />
        <Image
          src={ngn}
          alt="Nigeria's flag"
          class="shrink size-9 md:size-14 xl:size-[80px]"
        />
        <Image
          src={uk}
          alt="United kingdom's flag"
          class="shrink size-9 md:size-14 xl:size-[80px]"
        />
        <Image
          src={world}
          alt="the world"
          class="absolute bottom-24 left-0 right-0 mx-auto lg:relative lg:-bottom-0 lg:mx-0"
        />
        <Image
          src={kenya}
          alt="Kenya's flag"
          class="shrink size-9 md:size-14 xl:size-[80px]"
        />
        <Image
          src={ghana}
          alt="Ghana's flag"
          class="shrink size-9 md:size-14 xl:size-[80px]"
        />
        <Image
          src={sa}
          alt="South's africa flag"
          class="shrink size-9 md:size-14 xl:size-[80px]"
        />
      </div>
    </div>
    <div class="text-center mt-20 lg:mt-32 mx-8">
      <h3 class="font-semibold text-2xl lg:text-3xl">Trusted by</h3>
      <div
        class="grid grid-cols-2 items-center justify-items-center gap-8 mt-9 lg:grid-cols-4 lg:px-56"
      >
        <Image src={paypal} alt="paypal's logo" />
        <Image src={safehaven} alt="safehaven's logo" />
        <Image src={bridge} alt="bridge's logo" />
        <Image src={westWallet} alt="west wallet's logo" />
      </div>
    </div>
    <div
      class="flex gap-6 overflow-x-scroll mx-8 mb-14 mt-16 md:grid grid-cols-3 md:mx-[90px] md:overflow-x-hidden"
    >
      <Image
        src={competitiveExchangeRate}
        alt="competitive exchange-rates"
        class="w-64 md:w-full"
      />
      <Image
        src={zeroAcctMaintainance}
        alt="zero account maintaince fee"
        class="w-64 md:w-full"
      />
      <Image
        src={iban}
        alt="iban for your business needs"
        class="w-64 md:w-full"
      />
    </div>
    <div
      class="bg-[#3D656E] lg:mx-[90px] lg:px-28 lg:py-11 lg:rounded-xl flex px-6 py-7 items-center lg:gap-8 lg:mb-72"
    >
      <p
        class="text-white text-xl sm:text-4xl xl:text-[60px] xl:leading-tight font-extrabold"
      >
        Easily convert from one currency to another with zero charges.
      </p>
      <Image src={worldCurrencies} alt="world currencies" class="w-[54%]" />
    </div>
  </main>
</Layout>
